/* @import "https://code.highcharts.com/css/stocktools/gui.css"; */
@import "https://code.highcharts.com/css/annotations/popup.css";

.highcharts-bindings-wrapper .highcharts-stocktools-toolbar li {
    /* filter: invert(100%); */
}
.tv-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tv-chart{
    flex-grow: 1;
    display: grid;
}
.highcharts-label.highcharts-tooltip a{
    color: #90caf9;
}
.highcharts-label.highcharts-tooltip a span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 250px;
}
.tooltip-dividers{
    width: 80%;
    display: block;
    margin: 10px auto;
}
.tv-chart.class-on-mousedown svg{
    cursor: grabbing !important;
}