.searchForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: 800px;
    position: relative;
}
.searchForm input {
    background-color: #4D515D;
    height: auto;
    font-size: 1rem;
    padding: 0.625rem 2.5rem;
    border-radius: 5px;
    color: #fff;
}
.searchForm input::placeholder {
    color: white;
}
.searchForm input:focus::placeholder {
    color: transparent;
  }
.searchForm button {
    color: #fff;
    position: absolute;
    right: 0.625rem;
    top: 1.25rem;
    font-size: 1rem;
}
.searchForm .tv-icon-search{
    position: absolute;
    left: 0.625rem;
    top: 1.25rem;
}