.searchForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-width: 800px;
    position: relative;
    width: 100%;
}
.searchForm input {
    background-color: #4D515D;
    height: auto;
    font-size: 0.8rem;
    padding: 0.625rem 2.5rem;
    border-radius: 5px;
    color: #fff;
    max-width: 100%; /* Set a maximum width for the input field */
    width: calc(100% - 80px); /* Make the input field fill its container */
}
.searchForm input::placeholder {
    color: white;
}
.searchForm input:focus::placeholder {
    color: transparent;
  }
.searchForm button {
    color: #fff;
    position: absolute;
    right: 0.625rem;
    top: 1.25rem;
    font-size: 1rem;
}
.searchForm .tv-icon-search{
    position: absolute;
    left: 0.625rem;
    top: 1.25rem;
}


/* Styles for screens larger than 900px */
@media (min-width: 900px) {
    .searchForm input {
        font-size: 1rem;
    }
    
}